# Schéma

In [1]:
import whyqd as _w
schema = _w.Schema()

In [4]:
details = {
"name": "lieracy-enrolment-report",
"title": "Literacy and Enrolment 1985 - 2005",
"description": "A schema for the first exercise"
}
schema = _w.Schema()
schema.set_details(**details)

In [5]:
schema

Schema: `lieracy-enrolment-report`

In [11]:
fields=[
        {
            "name": "HDI_rank",
            "title": "HDI rank",
            "type": "number",
            "description": "Rang de l'indice de développement humain du pays",
            "constraints": {
                "required":True
            }
        },    
        {
            "name": "HDI_level",
            "title": "HDI level",
            "type": "string",
            "description": "Niveau de l'indice de développement humain du pays",
            "constraints":{
                "required": True
             }
           
        },
        {
            "name": "Country",
            "title": "Country",
            "type": "string",
            "description": "Nom du pays",
            "constraints":{
                "required": True
                }
        },
        {
            "name": "Adult_literacy_rate_1985-1994",
            "title": "Adult literacy rate 1985-1994 (%)",
            "type": "number",
            "description": "Taux d'alphabétisation des adultes de 1985-1994 en pourcentage",
            "constraints":{
                "required": True
                }

        },
    {
            "name": "Adult_literacy_rate_1995-2005",
            "title": "Adult literacy rate 1995-2005 (%)",
            "type": "number",
            "description": "Taux d'alphabétisation des adultes de 1995-2005 en pourcentage",
            "constraints":{
                "required": True
                }
},
    {
            "name": "MDG_Youth_literacy_rate_1985-1994",
            "title": "MDG Youth literacy rate  1985-1994  (%)",
            "type": "number",
            "description": "Taux d'alphabétisation des jeunes de 1985 à 1994 en pourcentage",
            "constraints":{
                "required": True
                }
},
    {
            "name": "MDG_Youth_literacy_rate_1995-2005",
            "title": "MDG Youth literacy rate  1995-2005  (%)",
            "type": "number",
            "description": "Taux d'alphabétisation des jeunes de 1995 à 2005 en pourcentage",
            "constraints":{
                "required": True
                }
},
    {
            "name": "MDG_Net_primary_enrol_rate_1991",
            "title": "MDG Net primary enrolment rate 1991 (%)",
            "type": "number",
            "description": "Taux (en pourcentage) d'inscription à l'école primaire en 1991",
            "constraints":{
                "required": True
                }
},
    {
            "name": "MDG_Net_primary_enrol_rate_2005",
            "title": "MDG Net primary enrolment rate 2005 (%)",
            "type": "number",
            "description": "Taux (en pourcentage) d'inscription à l'école primaire en 2005",
            "constraints":{
                "required": True
                }
},
    
    {
            "name": "Net second_enrol_rate_1991",
            "title": "Net secondary enrolment rate 1991 (%)",
            "type": "number",
            "description": "Taux (en pourcentage) d'inscription au secondaire en 1991",
            "constraints":{
                "required": True
                }
},
    {
            "name": "Net second_ enrol_rate_2005",
            "title": "Net secondary enrolment rate 2005 (%)",
            "type": "number",
            "description": "Taux (en pourcentage) d'inscription au secondaire en 2005",
            "constraints":{
                "required": True
                }
},
     {
            "name": "MDG_Child_reach_grade_5 _1991",
            "title": "Children reaching grade 5 (% of grade 1 cohort) in 1991",
            "type": "number",
            "description": "Taux (en pourcentage) des enfants qui atteignent le niveau 5 en 1991",
            "constraints":{
                "required": True
                }
},
    {
            "name": "MDG_Child_reach_grade_5_2004",
            "title": "Children reaching grade 5 (% of grade 1 cohort) in 2004",
            "type": "number",
            "description": "Taux (en pourcentage) des enfants qui atteignent le niveau 5 en 2004",
            "constraints":{
                "required": True
                }
},
     {
            "name": "Tertiary_stud_rate_1999-2005",
            "title": "Tertiary students in science engineering manufacturing and construction(% of tertiary students) from 1999 to 2005",
            "type": "number",
            "description": "Taux (en pourcentage) des etudiants en science, ingénieurie, indutrie et bâtiment de 1999 à 2005",
            "constraints":{
                "required": True
                }
} 
    
    ]

In [12]:
for field in fields:
    schema.set_field(**field)

In [13]:
schema.default_field_types

['string',
 'number',
 'integer',
 'boolean',
 'object',
 'array',
 'date',
 'datetime',
 'year']

In [14]:
schema.default_field_settings('string')

{'name': 'field_name',
 'type': 'string',
 'constraints': {'description': 'The following constraints are supported.',
  'properties': {'required': {'type': 'boolean',
    'description': 'Indicates whether a property must have a value for each instance.'},
   'unique': {'type': 'boolean',
    'description': 'When `true`, each value for the property `MUST` be unique.'},
   'category': {'minItems': 1,
    'description': 'A list of dictionary terms with `name` & (optional) `description`, and with minimum length `minItems`.'},
   'minimum': {'type': 'integer',
    'description': 'An integer that specifies the minimum length of a value.'},
   'maximum': {'type': 'integer',
    'description': 'An integer that specifies the maximum length of a value.'}}},
 'title': 'A human-readable version of the field name',
 'description': 'Any text-based string.',
 'foreignKey': {'type': 'boolean',
  'description': 'Set `foreignKey` `true` if the field is to be treated as an immutable value.'},
 'required': ['name', 'type'],
 'format': {'description': 'The format keyword options for `string` are `default`, `email`, `uri`, `binary`, and `uuid`.',
  'category': ['default', 'email', 'uri', 'binary', 'uuid'],
  'default': 'default'},
 'missing': {'description': 'Default to be used for missing values.',
  'default': ''}}

In [ ]:
schema.field("HDI_rank")

In [23]:
import os

In [24]:
directory = F"{os.getcwd()}\\"
# vous pouvez également spécifier un nom de fichier facultatif
# si vous l'omettez, le nom du fichier sera par défaut le nom du schéma
filename = "literacy-enrolment-report-schema"
# si le fichier existe déjà, vous devrez spécifier "overwrite=True" sinon vous obtiendrez une erreur
schema.save(directory, filename=filename, overwrite=True)

True

In [25]:
schema.all_field_names

['hdi_rank',
 'hdi_rank',
 'hdi_level',
 'country',
 'adult_literacy_rate_1985-1994',
 'adult_literacy_rate_1995-2005',
 'mdg_youth_literacy_rate_1985-1994',
 'mdg_youth_literacy_rate_1995-2005',
 'mdg_net_primary_enrol_rate_1991',
 'mdg_net_primary_enrol_rate_2005',
 'net_second_enrol_rate_1991',
 'net_second__enrol_rate_2005',
 'mdg_child_reach_grade_5__1991',
 'mdg_child_reach_grade_5_2004',
 'tertiary_stud_rate_1999-2005']

# Création de méthode